<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript">
        let csrfToken = '{{ csrf_token }}';
        let state = '';
        const authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        // Set up search popover in navbar
        $(function () {
            $('#searchNav').popover({content: $('#playlistSearchPopout').clone(), html: true, trigger: 'manual'});
        });
        $(function () {
            $('#accountNav').popover({content: $('#accountPopout').clone(), html: true, trigger: 'manual'});
        });
    </script>
    <script src="{% static 'js/spotify.js' %}" onload="loadSpotifyAccessToken();"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-inverse navbar-dark navbar-padding" style="background-color: #2b2a2a">
    <a class="col-sm-4 navbar-brand navbar-padding" href="/">Playlstr</a>
    <div class="col-sm-4 navbar-nav mx-auto navbar-padding navbar-expand-sm">
        <ul class="navbar-nav justify-content-center d-flex flex-fill">
            <li class="nav-item">
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#createPlaylistModal">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/import/">Import</a>
            </li>
            <li class="nav-item">
                <a tabindex="0" data-html="true" onclick="return false;" href="#" id="searchNav" data-placement="bottom"
                   class="nav-link" data-toggle="popover"
                   onmouseenter="if (!searchHovered) { $(this).popover('show'); $('.searchInput').focus(); } searchHovered = true;"
                   onmouseleave="searchHovered = false; setTimeout(function() {if (!searchHovered) {$('#searchNav').popover('hide');}}, 400)">Search</a>
                <div class="hidden">
                    <div id="playlistSearchPopout" class="input-group" onmouseenter="searchHovered = true;"
                         onmouseleave="searchHovered = false; setTimeout(function() {if (!searchHovered) {$('#searchNav').popover('hide');}}, 400)">
                        <form class="form-inline" onsubmit="searchPlaylists(); return false;">
                            <input class="searchInput" type="text">
                            <button id="searchPlaylistsButton" class="btn btn-primary btn-sm" type="submit"
                                    onclick="searchPlaylists();">Search
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 mx-auto navbar-nav navbar-padding navbar-expand-sm">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <a class="nav-link" href="/me/">My Account</a>
                </li>
                <li class="navbar-item">
                    <a tabindex="0" data-html="true" href="#" id="accountNav" data-placement="bottom"
                       data-toggle="popover" class="nav-link"
                       onmouseenter="if (!accountHovered) { $(this).popover('show'); } accountHovered = true;"
                       onmouseleave="accountHovered = false; setTimeout(function() {if (!accountHovered) {$('#accountNav').popover('hide');}}, 400)">Connections</a>
                    <div class="hidden">
                        <div id="accountPopout" class="input-group" onmouseenter="accountHovered = true;"
                             onmouseleave="accountHovered = false; setTimeout(function() {if (!searchHovered) {$('#accountNav').popover('hide');}}, 400)">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/link/">Manage Clients</a></li>
                                {% if not user.spotify_token %}
                                    <li class="list-group-item link-spotify-connection">
                                        <a href="#" onclick="spotifyAuthLoggedIn(); return false;" id="spotifyAuthButton">Link
                                        Spotify</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout/">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-bg-light" onclick="spotifyAuthLoggedOut(); return false;"
                       id="spotifyAuthButton" href="#" style="color: #222;">Authenticate with Spotify</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'social:begin' 'google-oauth2' %}">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content-header %}
{% endblock %}
<div class="content container">
    <div id="createPlaylist" class="h2 centered padding-sm">
    </div>
    <div id="createPlaylistFail" class="alert alert-danger hidden">Failed to create playlist, please try again
    </div>
    <!-- New playlist modal -->
    <div class="modal fade" id="createPlaylistModal" tabindex="-1" role="dialog"
         aria-labelledby="createPlaylistModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPlaylistModalLabel">Create Playlist</h5>
                    <!-- Top right close button in modal -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="newPlaylistName" class="form-control" placeholder="Playlist Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="createPlaylist()">Create</button>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
