<!DOCTYPE html>
<html lang="en">
{% load static %}
{% if playlist %}
<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="{% static 'js/playlist.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Import Playlist</title>
</head>
<body>
<div id="playlist" class="container text-center">
    <h1 style="padding: 50px;">{{ playlist.name }}</h1>
    <div id="addTrack" class="input-group mb-3">
        <div id="addButton">
            <button type="button" class="btn btn-primary btn-sm" onclick="showAddTrackPopup">Add...</button>
        </div>
        <div id="addType">
        </div>
    </div>
    <div id="trackList">
        <table class="table table-bordered pagin-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Listen</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for track in playlist.tracks.all %}
                <tr>
                    <td><a href="/track/{{ track.track_id }}">{{ track.title }}</a></td>
                    <td>{{ track.artist }}</td>
                    <td>{{ track.album }}</td>
                    <td>
                        <button type="button" class="btn" style="border: 1px solid black;">
                            &#9654; Play
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn" style="border: 1px solid red;" onclick="deleteTrack({{ track.track_id }}">&#10060;</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">$('tbody').sortable();</script>
</body>
{% else %}
Invalid playlist
{% endif %}
</html>