{% extends 'playlstr/base.html' %}
{% load static %}
{% block head %}
    <title>Playlist</title>
    <script src="{% static 'js/export.js' %}"></script>
{% endblock %}
{% block content %}
    {% if playlist %}
        <script>
            let playlist_id = {{ playlist.playlist_id }};
        </script>
        <h1 style="padding: 50px;" class="text-center" id="playlistName">{{ playlist.name }}</h1>
        <form>
            {% if genres %}
                <div id="genresGroup" class="form-group">
                    Excluded genres:&nbsp;
                    {% for genre in genres %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input genre-select" type="checkbox" id="{{ genre }}">
                            <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if artists %}
                <div id="artistsGroup" class="form-group">
                    Excluded artists:&nbsp;
                    <select id="artistExcludeSelect">
                        <option value="default">Choose...</option>
                        {% for artist in artists %}
                            <option value="{{ artist }}" id="{{ artist }}Exclude">{{ artist }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="excludeSelectedArtist();" class="btn btn-danger btn-padding-h">
                        Exclude
                    </button>
                    <div id="excludedArtists">
                    </div>
                </div>
            {% endif %}
            {% if albums %}
                <div id="albumsGroup" class="form-group">
                    Excluded albums:&nbsp;
                    <select id="albumExcludeSelect">
                        <option value="default">Choose...</option>
                        {% for album in albums %}
                            <option value="{{ album }}" id="{{ album }}Exclude">{{ album }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="excludeSelectedAlbum();" class="btn btn-danger btn-padding-h">
                        Exclude
                    </button>
                    <div id="excludedAlbums">
                    </div>
                </div>
            {% endif %}
            <div id="explicitGroup" class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="explicitCheck"
                           {% if not explicit %}disabled{% endif %}>
                    <label class="form-check-label" for="explicitCheck">
                        {% if not explicit %}<strike>{% endif %}
                        Include explicit tracks
                        {% if not explicit %}</strike>{% endif %}
                    </label>
                </div>
            </div>
            <div id="exportButtons" class="form-group">
                <button id="exportAsTextButton" type="button" class="btn btn-primary" onclick="exportAsText();">Export
                    as Text
                </button>
                <button id="exportSpotifyButton" type="button" class="btn btn-primary" onclick="exportToSpotify();"
                        style="display: none;">Export to Spotify
                </button>
                <script type="text/javascript">$(function () {
                    console.log(spotifyAccessToken);
                    if (spotifyAccessToken !== null) $('#exportSpotifyButton').show();
                });</script>
            </div>
            <div id="exportError" class="alert-danger" style="display: none;">
                Error exporting playlist
            </div>
        </form>
    {% else %}
        Invalid playlist
    {% endif %}
{% endblock %}

