{% extends 'playlstr/base.html' %}
{% load static %}
{% block head %}
    <title>Import</title>
    <script src="{% static 'js/import.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="importText" class="h1 centered vmargin-sm">
        Import Playlist
    </div>
    <br><br><br>
    <div id="spotifyImportContainer" class="centered">
        <div id="spotifyImport" class="input-group mb-3">
            <span class="input-group-text" id="spotifyImportText">
                Spotify URL
            </span>
            <input type="text" class="form-control" id="spotifyImportInput">
            <button type="button" class="btn btn-secondary btn-sm" onclick="importSpotifyUrl()">
                Import
            </button>
        </div>
        <div id="invalidSpotifyUrl" class="alert alert-danger hidden">Invalid URL</div>
        <div id="spotifyImportRequestSent" class="centered hidden">
            <div id="spotifyImportSpinner" class="spinner-border">
            </div>
            <h3>Importing...</h3><br>(This may take a minute, we'll let you know if anything goes wrong)
        </div>
        {% if user.spotify_id %}
            <div id="spotifyPlaylists" class="list-group"
                 style="max-height: 400px;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
                <div class="nav-header list-group-item h4">From Spotify</div>
            </div>
            <script type="text/javascript">userSpotifyId = '{{ user.spotify_id }}';
            getUserSpotifyPlaylists(true);</script>
        {% endif %}
        <div id="spotifyImportFailed" class="alert alert-danger hidden">
            Failed to import playlist
        </div>
    </div>
    <div id="playlistFileImportForm" class="form-group">
        <label for="playlistFile">Local file</label>
        <input type="file" class="form-control-file" id="playlistFile" onchange="importPlaylistFile(this);">
        <div id="playlistFileImportFailed" class="alert alert-danger hidden">
            Failed to import playlist
        </div>
    </div>
    <script>
        loc = window.location.toString();
        start = loc.indexOf("state=") + 6;
        if (start !== 5) {
            end = loc.indexOf("&", start);
            if (end === -1) {
                end = loc.indexOf("?", start);
                if (end === -1) {
                    end = loc.length;
                }
            }
            url = decodeURIComponent(loc.substring(start, end));
            document.getElementById('spotifyImportInput').value = url;
        }
    </script>
{% endblock %}
