{% extends 'playlstr/base.html' %}
{% load static %}
{% block head %}
    <title>Playlstr</title>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="newestList" class="centered">
        {% if newest_playlist_list %}
            <ul class="list-group">
                <li class="nav-header list-group-item h2 centered" style="border: none;">Recently Updated</li>
                {% for playlist in newest_playlist_list %}
                    <li class="list-group-item"><a href="/list/{{ playlist.playlist_id }}/">{{ playlist.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No playlists are available.</p>
        {% endif %}
    </div>
{% endblock %}
