{% extends 'playlstr/base.html' %}
{% load static %}
{% block head %}
    <title>Import</title>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="importPlaylist" class="h2 centered padding-sm">
        <a href="import/">Import playlist</a>
    </div>
    <div id="createPlaylist" class="h2 centered padding-sm">
        <a href="#" data-toggle="modal" data-target="#createPlaylistModal">Create playlist</a>
    </div>
    <div id="createPlaylistFail" class="alert alert-danger hidden">Failed to create playlist, please try again</div>
    <!-- New playlist modal -->
    <div class="modal fade" id="createPlaylistModal" tabindex="-1" role="dialog"
         aria-labelledby="createPlaylistModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPlaylistModalLabel">Create Playlist</h5>
                    <!-- Top right close button in modal -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="newPlaylistName" class="form-control" placeholder="Playlist Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="createPlaylist()">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div id="newestList" class="centered">
        {% if newest_playlist_list %}
            <ul class="list-group">
                <li class="nav-header list-group-item h2 centered" style="border: none;">Recently Updated</li>
                {% for playlist in newest_playlist_list %}
                    <li class="list-group-item"><a href="/list/{{ playlist.playlist_id }}/">{{ playlist.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No playlists are available.</p>
        {% endif %}
    </div>
{% endblock %}
