{% extends 'playlstr/base.html' %}
{% load static %}
{% block head %}
    <title>Link</title>
    <script src="{% static 'js/link.js' %}"></script>
{% endblock %}
{% block content %}
    {% if link_code %}
        <div class="container centered">
            Use the 6 digit code below to link a client to your account.<br><br>
            <h3>{{ link_code }}</h3><br>
            <div class="alert-danger hidden">Error linking account. Try again.</div>
            <br><br><br>
            <button type="button" class="btn btn-danger"
                    onclick="if(confirm('Unlink all clients which are linked with your account?')) {clearLinkedAccounts();}">
                Unlink linked clients
            </button>
            <!-- Reload page after 2 minutes to get a new link code -->
            <script type="text/javascript">setTimeout(function () {
                window.location.reload(true)
            }, 120000);</script>
        </div>
    {% else %}
        Please log in to link to the client.
    {% endif %}
{% endblock %}
