<!DOCTYPE html>
<html lang="en">
{% load static %}
{% if playlist %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/playlist.js' %}"></script>
        <title>{{ playlist.name }}</title>
    </head>
    <body>
    <script>
        $(document).ready(function () {
            initTrackAutocomplete();
        });
    </script>
    <div id="playlist" class="container-fluid">
        <h1 style="padding: 50px;" class="text-center">{{ playlist.name }}</h1>
        <div id="editContainer" class="container vmargin-sm">
            <form>
                <div id="editControlButtons" class="" style="width: 1000px;">
                    <button type="button" class="btn btn-primary form-btn" id="editButton" onclick="enterEditMode()">
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary" id="saveButton" style="display: none;"
                            onclick="exitEditMode(true)">Save
                    </button>
                    <button type="button" class="btn btn-secondary" id="cancelButton" style="display: none;"
                            onclick="exitEditMode(false)">Cancel
                    </button>
                </div>
                <div id="addTrackContainer" style="display:none;">
                    <div id="trackSearchHeader" class="form-row">
                        <div>
                            <div class="h4" style="display: inline-block; width: 200px;">Track Search</div>
                            <div style="display: inline-block; width: 150px;">
                                <button type="button" class="btn btn-secondary" onclick="toggleAdvancedTrackSearch()" style="margin-top: 20px; margin-bottom: 20px;">
                                    Advanced
                                </button>
                            </div>
                            <div style="display: inline-block; width: 200px;">
                                Don't see what you're looking for?
                                <button type="button" class="btn btn-secondary" onclick="getSpotifyResults()" style="margin-top: 20px; margin-bottom: 20px;">
                                    Search Spotify
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="trackSearchInputs">
                        <div id="simpleTrackSearch" class="form-group">
                            <input type="text" id="simpleTrackSearchText" name="simpleTrackSearchText"
                                   class="form-control">
                        </div>
                        <div id="advancedTrackSearch" class="form-group" style="display: none;">
                        </div>
                        <div id="addTrackButtons" class="form-row" style="padding: 20px;">
                        </div>
                    </div>
                    <div id="trackSearchResults" class="search-results-table">
                        <table class="table table-striped" id="trackSearchResultsTable">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Album</th>
                                <th>Add</th>
                            </tr>
                            </thead>
                            <tbody id="trackSearchResultsTBody">
                                <tr>
                                    <td>No known tracks</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div id="trackList">
            <table class="table table-bordered pagin-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Listen</th>
                    <th class="rm-btn-container" style="display: none;">Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for track in playlist.tracks.all %}
                    <tr>
                        <td><a href="/track/{{ track.track_id }}">{{ track.title }}</a></td>
                        <td>{{ track.artist }}</td>
                        <td>{{ track.album }}</td>
                        <td>
                            <button type="button" class="btn" style="border: 1px solid black;">
                                &#9654; Play
                            </button>
                        </td>
                        <td class="rm-btn-container" style="display: none;">
                            <button type="button" class="btn" style="border: 1px solid red;"
                                    onclick="deleteTrack({{ track.track_id }}">&#10060;
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script type="text/javascript">$('tbody').sortable();</script>
    </body>
{% else %}
    Invalid playlist
{% endif %}
</html>

