<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Redirecting...</title>
    <script type="text/javascript">
        let csrfToken = '{{ csrf_token }}';

        function postAuthRedirect() {
            {% if user.is_authenticated %}
                parseSpotifyAccessTokenFromLocationLoggedIn(true);
            {% else %}
                parseSpotifyAccessTokenFromLocationLoggedOut();
                redirectToPreauthUrl();
            {% endif %}
        }
    </script>
    <script src="{% static 'js/spotify.js' %}" onload="postAuthRedirect();"></script>
</head>
<body>
</body>
</html>

