html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.importButtons {
    margin: auto;
}

.centered {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    align-content: center;
}

.hidden {
    display: none;
}

.vmargin-sm {
    margin-top: 50px;
    margin-bottom: 50px;
}

.padding-sm {
    padding: 20px;
}

.rm-btn-container {
    display: none;
}

.search-results-table {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.editable-title {
    border: dotted lightslategrey;
}

.big-text {
    font-size: 16pt;
}
