.importButtons {
    margin: auto;
}

.centered {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    align-content: center;
}

.hidden {
    display: none;
}

.vmargin-sm {
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-sm {
    padding: 20px;
}

.rm-btn-container {
    display: none;
}

.search-results-table {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.editable-title {
    border: dotted lightslategrey;
}

.big-text {
    font-size: 16pt;
}

.btn-padding-h {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-hover:hover > .dropdown-menu {
    display: block;
}

.spotify {
    color: #ffffff;
    background-color: #1DB954;
}

.youtube {
    color: #ffffff;
    background-color: #ff0000;
}

